{% extends "base.html" %}

{% block content %}
<div class="container">
  {% block page_content %}

  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
  <link rel="stylesheet" href="static/css/papyrus-editor.css">
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="static/js/papyrus-editor.js"></script>

  <form id="editor-form" action="/save" method="post">
    <div id="editor"></div>

    <input type="hidden" name="md_text" id="md_text">
    <input type="hidden" name="file_name" value="{{ file_name }}">

    <button type="submit">Save</button>
  </form>

  <script>
    const editorOptions = createPapyrusEditorOptions({
        el: document.querySelector("#editor"),
        initialValue: {{ md_text | tojson }}
    });

    const editor = new toastui.Editor({
      el: document.querySelector('#editor'),
      height: '500px',
      initialEditType: 'markdown',
      previewStyle: 'vertical',
      initialValue: {{ md_text|default('')|tojson }}
    });

    const hiddenField = document.querySelector('#md_text');

    document.querySelector('#editor-form').addEventListener('submit', function () {
      hiddenField.value = editor.getMarkdown();
    });
  </script>

  <p><a href="/">Back to index</a></p>

  {% endblock %}
</div>
{% endblock %}