<div id="editor"></div>

<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<form  id="editor-form" action="/save" method="post" enctype="multipart/form-data">

        <input type="hidden" name="md_text" id="md_text" value="">
        <input type="hidden" name="file_name" value="{{file_name}}">

      <button type="submit">Save</button>
  </form>

<script>
  const editor = new toastui.Editor({
    el: document.querySelector('#editor'),
    height: '500px',
    initialEditType: 'wysiwyg',
    previewStyle: 'vertical',
    initialValue: {{ md_text | tojson }}
  });

  const hiddenField = document.querySelector('#md_text');

  document.querySelector('#editor-form').addEventListener('submit', function () {
  hiddenField.value = editor.getMarkdown();
});
</script>

<p><a href="/">Back to index</a></p>

